[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

Flask = "*"
bcrypt = "*"
peewee = "*"
Flask-login = "*"
Flask-bcrypt = "*"
Flask-wtf = "*"


[requires]

python_version = "3.7"